.container {
    min-width: 1200px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: tsukushioldmincho, 'ms mincho', 'ヒラギノ明朝 pro w3', 'hiragino mincho pro', serif;
}

body {
    margin: 0;
    padding: 0;
}

header {

    display: flex;
    background-color: rgb(64, 132, 146);
    justify-content: space-between;
    padding: 5px 0;
}

footer {

    padding: 15px;
    background-color: rgba(64, 132, 146);
}

.footer-up {

    display: flex;
    justify-content: space-around;
}

.footer-text-box {
    padding: 15px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.footer-text {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align: left;
    letter-spacing: 5px;
}

.footer-icon-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-icon {
    width: 30px;
    margin: 0 20px;
}

.footer-under {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
}

.logo-box {
    margin: 10px;
    margin-left: 20px;
}

.logo {
    width: 200px;
    display: flex;
    height: 100px;
}

.fuction-box {
    background-color: rgb(64, 132, 146);
    width: 700px;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2.5px solid #ffffff;
}


.fun-box {
    background-color: rgb(64, 132, 146);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fun-box:hover {
    border-top: 2.5px solid #fff;
}

.fun-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 10px;
    margin-left: 10px;
}




.comission-box {
    margin-top: 100px;
    background:linear-gradient(to top,rgb(42, 77, 90,0%) 0%, rgb(218, 249, 255) 100%);
    padding-top: 60px;
}

.comission-major {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comission-majortitle {
    color: rgb(64, 132, 146);
    font-family: 'Zen Antique', serif;
    font-size: 48px;
    letter-spacing: 5px;
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.comission-majortext {
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 30px;
    color: #74B5c2;
    font-weight: bold;
}

.text-array {
    padding: 0 100px;
}

.minor-box {
    display: flex;
    flex-direction: column;

}

.minortitle {
    color: rgb(64, 132, 146);
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: bold;
    padding-top: 150px;
    line-height: 60px;
}

.minortext {
    padding-top: 30px;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 40px;
    color: #39a7bd;
    margin-left: 60px;
}

.comission-under {
    background-color: rgb(255, 255, 255);
    min-width: 450px;
    margin-top: 100px;
    padding: 60px 150px;
}

.comission-title {
    color: rgb(64, 132, 146);
    background-color: rgba(223, 253, 253, 0.933);
    width: 200px;
    font-size: 32px;
    letter-spacing: 5px;
    padding: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.comission-btn-box {
    display: flex;
    margin-top: 30px;
}

.comission-btn {
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(64, 132, 146);
    margin-right: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    box-shadow: var(--shd, 0 5px 5px rgba(0, 0, 0, .6));
}

.comission-text {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 18px;
}

.comission-text:hover {
    color: rgb(0, 0, 0);
}