.container {
    min-width: 3300px;
    background-color: rgb(255, 255, 255);
    font-size: 64px;
    font-family: tsukushioldmincho, 'ms mincho', 'ヒラギノ明朝 pro w3', 'hiragino mincho pro', serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    min-width: 1400px;
    display: flex;
    background-color: rgb(64, 132, 146);
    justify-content: space-between;
    padding: 50px 0;
}

footer {
    min-width: 3300px;
    padding: 50px;
    background-color: rgba(64, 132, 146);
}

.footer-up {

    display: flex;
    justify-content: space-around;
}

.footer-text-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    line-height: 80px;
}

.footer-text {
    font-size: 64px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: left;
    letter-spacing: 10px;
}

.footer-icon-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-icon {
    width: 100px;
    margin: 0 50px;
}

.footer-under {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.logo-box {

    margin: 20px;

    margin-left: 100px;

}

.logo {
    width: 500px;
    display: flex;

}

.fuction-box {
    background-color: rgb(64, 132, 146);
    width: 2000px;
    padding: 30px 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #000000;
}


.fun-box {
    background-color: rgb(64, 132, 146);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fun-box:hover {
    border-left: 10px solid #00376d;
    border-right: 10px solid #00376d;
    padding: 10px 0;
}

.fun-text {
    font-size: 64px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 20px;
    margin-left: 20px;
}





.style {
    background-color: rgba(223, 253, 253, 0.933);
    margin: 200px 300px 0 300px;
    display: flex;
    flex-direction: column;
    padding: 200px 100px 0 100px;
}

.title-box {
    background-color: rgb(255, 255, 255);
    width: 400px;
    font-size: 96px;
    letter-spacing: 10px;
    padding: 50px;
    margin-bottom: 200px;
    text-align: center;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    font-weight: bold;
}

.style-box {
    display: flex;
    flex-direction: column;
margin-bottom: 200px;
}

.style-top {
    background-color: rgb(64, 132, 146);
    padding: 50px 0;
}

.style-title {
    background-color: rgb(255, 255, 255);
    width: 400px;
    font-size: 64px;
    letter-spacing: 10px;
    padding: 50px;
    font-weight: bold;
}

.style-des {
    background-image: url(img/analog_4cutted.png);
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;
    padding: 100px;
}
.style-des2{
    background-image: url(img/analog_3cutted.png);
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;
    padding: 100px;
}
.style-des3{
    background-image: url(img/digital\(c\)_4cutted.png);
    background-repeat: no-repeat;
 
    background-position: center;
    background-size: cover;
    padding: 100px;
}
.style-des4{
    background-image: url(img/digital\(c\)_1cutted.png);
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;
    padding: 100px;
}
.style-des-title {
    color: rgb(64, 132, 146);
    background-color: rgb(255, 255, 255);
    font-size: 96px;
    font-weight: bold;
    letter-spacing: 10px;
    padding: 30px;
    width: max-content;
    text-align: center;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    margin-top: 100px;
}

.style-des-text {
   
    color: #2B586E;
    line-height: 128px;
    font-size: 64px;
    letter-spacing: 5px;
    font-weight: bold;
    padding:50px 100px;
    margin-bottom: 50px;
}
.style-des-st{

    color:rgb(47, 97, 107);
    font-size: 72px;
    letter-spacing: 10px;
    font-weight: bold;
    padding:50px;
}
.text-box{
    background-color: rgba(223, 253, 253, 0.499);
    margin: 100px 0;
    padding:50px;
}
.next-outerbox{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 200px;
}
.next-box{
    margin-top: 100px;
    padding: 50px;
    background-color: rgb(255, 255, 255);

    width: 500px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    float:right;
}
.next{
    font-weight: bold;
    letter-spacing: 10px;
    text-decoration: none;
    color: #000000;
}
.next:hover{
    color: rgb(64, 132, 146);
}