.container {
    min-width: 1200px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: tsukushioldmincho, 'ms mincho', 'ヒラギノ明朝 pro w3', 'hiragino mincho pro', serif;
}

body {
    margin: 0;
    padding: 0;
}

header {

    display: flex;
    background-color: rgb(64, 132, 146);
    justify-content: space-between;
    padding: 5px 0;
}

footer {

    padding: 15px;
    background-color: rgba(64, 132, 146);
}

.footer-up {

    display: flex;
    justify-content: space-around;
}

.footer-text-box {
    padding: 15px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.footer-text {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: left;
    letter-spacing: 5px;
}

.footer-icon-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-icon {
    width: 30px;
    margin: 0 20px;
}

.footer-under {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.logo-box {
    margin: 10px;
    margin-left: 20px;
}

.logo {
    width: 200px;
    display: flex;
height:100px ;
}

.fuction-box {
    background-color: rgb(64, 132, 146);
    width: 700px;
    padding: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #000000;
}


.fun-box {
    background-color: rgb(64, 132, 146);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fun-box:hover {
    border-left: 5px solid #00376d;
    border-right: 5px solid #00376d;
    padding: 10px 0;
}

.fun-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 10px;
    margin-left: 10px;
}


















.Bulletin-Board-box {

    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Bulletin-Board-title {
    width: 150px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    border-left: 5px solid #00376d;
    border-right: 5px solid #00376d;
    margin: 20px 0;
    padding-left: 5px;

}

.Bulletin-Board-text {
    font-size: 16px;
    letter-spacing: 3px;
    text-align: left;
    margin: 20px 0;
    line-height: 30px;
    text-shadow: none;
    color: #74B5c2;
    font-weight: bold;

}

.intr-box {
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px 30px 100px 30px;
    background-color: rgb(64, 132, 146);
}

.intr-box-content {

    display: flex;
    justify-content: space-between;
}

.intr-box-left {

    padding: 30px 20px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.intr-icon {
    width: 350px;
    border-radius: 50%;
}



.intr-box-rightup {

    padding: 0, 30px;
    display: flex;
    justify-content: center;
}

.intr-name {
    color: #ffffff;
    background-color: rgb(0, 0, 0);

    font-size: 64px;
    letter-spacing: 10px;
    padding: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.intr-box-rightunder {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;

}

.intr-contact-name {

  
    font-size: 24px;
    letter-spacing: 5px;
    padding: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.intr-title {
    background-color: rgb(255, 255, 255);
    width: 150px;
    font-size: 24px;
    letter-spacing: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;
    font-weight: bold;
}

.contact-box {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.icon {
    background-color: #ffffff;
    width: 50px;
    margin: 0 20px;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 50%;
}


.work-box {
    margin: 60px 20px;
    padding: 30px 30px 100px 30px;
    background-color: rgb(64, 132, 146);
    justify-content: right;

}

.work-title {
    background-color: rgb(255, 255, 255);
    width: 150px;
    font-size: 24px;
    letter-spacing: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;
    font-weight: bold;
}

.work-box-box {
    display: flex;

    justify-content: space-between;
}

.work {
    width: 350px;
}

.more-outerbox {
    display: flex;
    justify-content: flex-end;
}

.more-box {
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.more {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: none;
    color: #000000;
}
.more:hover{
    color: rgb(64, 132, 146);
}